main {
  background-image: url("images/vintage_paper_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: white;
}

.tileBox{
  // border: 2px solid white;
  min-height: 27em;
  text-align: center;
  text-shadow: 1px 1px 2px black;

}
.tile{
  // margin-top: 1%;
  border: 4px solid #92ced1;
    color: rgba(255, 255, 255, 0);
}
.tile:hover{
  transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all 0.5s ease-in-out 0s;
     -moz-transition: all 0.5s ease-in-out 0s;
     -webkit-transition: all 0.5s ease-in-out 0s;
     -o-transition: all 0.5s ease-in-out 0s;
}
.famFirst{
  min-height: 10em;
  background-image: url("images/Family First.png");
  background-size: cover;
  background-repeat: no-repeat;

}
.four{
  min-height: 10em;
}
.apiTunes{
  min-height: 17em;
  background-image: url("images/APItunes.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.volunteer{
      min-height: 8em;
      background-image: url("images/volunteer.png");
      background-size: cover;
      background-repeat: no-repeat;

}
.andFriend{
    min-height: 9em;
    background-image: url("images/And Friend.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.gridGrind{
      min-height: 9em;
      background-image: url("images/Grid Grinder.png");
      background-size: cover;
      background-repeat: no-repeat;
}
.hidden{
  display: none;
}
.aboutContainer{
  background-color: rgba(206, 236, 236, 0.48);
    height: 27em;
    border-radius: 5px;
    padding: 1%;
    color: black;

}
.techStack img{
  width: 10%;
  margin-right: 1%;
}
.githublink{
  display: inline-block;
    width: 12%;
    float: right;
    margin-right: 8%;
}
.topGithubLink{
  display: inline-block;
  width: 8%;
  float: right;
}
.aboutSection h2{
  display: inline-block;
  text-shadow: 1px 1px 2px black;

}
.aboutSection{
  max-height: 100%;
  overflow: scroll;
}
.topBar{
  text-shadow: 1px 1px 2px black;
}
.topBar h3{
  text-align: center;
}
.topBar h1{
  display: inline-block;
}
.topBar h4{
  display: inline-block;
  margin-left: 3%;
}
.icons a{
  width: 49%;
}
.icons{
  float: right;
    margin-right: 15%;
    width: 8%;
}
